.navbar {
    background-color: #007bff;
    padding: 15px 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-links {
    display: flex;
    gap: 30px;
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
  }
  
  .nav-link:hover {
    text-decoration: underline;
    color: #d4d4d4;
  }
  